<%- include('partials/header') -%>
<section class="bg-primary text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <% receipts.forEach( el => { %>
                <li class='receiptItems' data-id='<%=el._id%>'>
                    <p><span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.receipt %></span></p>
                    <p> Amount: <%= el.amount %></p>
                    <p>Approved: <%= el.approved %></p>
                    <button type="button" class="btn btn-danger"><span class='del'> Delete </span></button>
                </li>
        <% }) %>
        </div>
    </div>
</section>
<%- include('partials/footer') -%>