<%- include('partials/header') -%>
<section id="hotels">
  <div
    class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row"
  >
    <!-- hotels stays section left section -->
    <div class="flex flex-col space-y-12 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
        Hotels Stays:
      </h2>
      <ul class="max-w-sm text-center md:text-left">
        <!--loop for each hotel stay-->
        <% hotels.forEach( el => { %>
        <li class="hotelStays" data-id="<%=el._id%>">
          <p>
            <i class="fa-solid fa-circle"></i>
            <span class="text-white">Hotel details: </span> <%= el.hotel %> -
            <%= el.address %> <%= el.city %>, <%= el.state %>
          </p>
          <p>
            <span class="text-white">Dates of stay: </span> Check in: <%=
            moment(el.checkIn).format("MMM Do YYYY")%> , check Out: <%=
            moment(el.checkOut).format("MMM Do YYYY") %>
          </p>
          <button type="button">
            <span class="del"> <i class="fa-solid fa-trash"></i> </span>
          </button>
        </li>
        <% }) %>
      </ul>
    </div>

    <!-- adding hotel section - right section -->
    <div class="flex flex-col space-y-6 md:w-1/2">
      <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
        Add A Hotel Stay:
      </h2>

      <!-- add a hotel form -->
      <div class="flex flex-col justify-center">
        <form action="/hotels/createHotel" method="POST">
          <label for="hotel" class="input-group input-group-vertical">
            <span>Hotel Name:</span>
            <input
              type="text"
              placeholder="Hotel Name"
              class="input input-bordered"
              id="hotelName"
              name="hotel"
            />
          </label>
          <!-- <div class="">
                        <label for="hotel" class="form-label">Hotel Name: </label>
                        <input type="text" class="form-control" id="hotelName" name="hotel">
                    </div> -->
          <label for="hotelAddress" class="input-group input-group-vertical">
            <span>Hotel Address:</span>
            <input
              type="text"
              placeholder="Hotel Address"
              class="input input-bordered"
              id="hotelAddress"
              name="address"
            />
          </label>
          <!-- <div class="mb-3">
                        <label for="hotelAddress" class="form-label">Hotel Address: </label>
                        <input type="text" class="form-control"  id="hotelAddress" name="address"></input>
                    </div> -->
          <label for="city" class="input-group input-group-vertical">
            <span>City:</span>
            <input
              type="text"
              placeholder="Hotel City"
              class="input input-bordered"
              id="hotelCity"
              name="city"
            />
          </label>
          <!-- <div class="mb-3">
            <label for="hotelCity" class="form-label">City: </label>
            <input
              type="text"
              class="form-control"
              id="hotelCity"
              name="city"
            />
          </div> -->
          <label for="hotelState" class="input-group input-group-vertical">
            <span>State:</span>
            <input
              type="text"
              placeholder="Hotel State"
              class="input input-bordered"
              id="hotelState"
              name="state"
            />
          </label>
          <!-- <div class="mb-3">
            <label for="hotelState" class="form-label">State: </label>
            <input
              type="text"
              class="form-control"
              id="hotelState"
              name="state"
            />
          </div> -->
          <label for="hotelState" class="input-group input-group-vertical">
            <span>Check In Date:</span>
            <input
              type="date"
              placeholder="Check In Date"
              class="input input-bordered"
              id="checkIn"
              name="checkIn"
            />
          </label>
          <!-- <div class="mb-3">
            <label for="checkIn" class="form-label">Check In Date: </label>
            <input
              type="date"
              class="form-control"
              id="checkIn"
              name="checkIn"
            />
          </div> -->
          <label for="hotelState" class="input-group input-group-vertical">
            <span>Check Out Date:</span>
            <input
              type="date"
              placeholder="Check Out Date"
              class="input input-bordered"
              id="checkOut"
              name="checkOut"
            />
          </label>
          <!-- <div class="mb-3">
            <label for="checkOut" class="form-label">Check Out Date: </label>
            <input
              type="date"
              class="form-control"
              id="checkOut"
              name="checkOut"
            />
          </div> -->
          <div class="p-4">
            <input
              class="px-4 py-2 text-white rounded-full bg-secondBlue hover:bg-white hover:text-secondBlue focus:outline-none"
              type="submit"
            />
          </div>
          <!-- <button type="submit" class="btn btn-info btn-rounded" value="Upload">Submit</button> -->
          <!-- <div class="form-control">
                    <label class="label">
                        <span class="label-text">Your Email</span>
                    </label>
                    <label class="input-group input-group-vertical">
                        <span>Email</span>
                        <input type="text" placeholder="info@site.com" class="input input-bordered" />
                    </label>
                    </div> -->
        </form>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') -%>
