<%- include('partials/header') -%>
<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6">
                <div class="container">
                    <h2>Hotels Stays: </h2>
                    <ul>
                        <!--this is the google map API-->
                        <!-- <div id="googleMap"></div> -->
                        <!--loop for each hotel stay-->
                        <% hotels.forEach( el => { %>
                            <li class='hotelStays' data-id='<%=el._id%>'>
                                
                                <p> Hotel details: <%= el.hotel %> - <%= el.address %> <%= el.city %>, <%= el.state %> </p>
                                <p>Dates of stay:  Check in: <%= moment(el.checkIn).format("MMM Do YYYY")%> , check Out: <%= moment(el.checkOut).format("MMM Do YYYY") %></p>
                                <button type="button" class="btn btn-dark btn-rounded"><span class='del'> Delete </span></button>
                            </li>
                    <% }) %>    
                    </ul>
                </div> <!--end of card-->
            </div>    <!--end of col-->
            <div class="col-sm-6">
            <div class="container"> 
                    <h2>Add A Hotel Stay</h2>
                    <form action="/hotels/createHotel" method="POST">
                        <div class="mb-3">
                            <label for="hotel" class="form-label">Hotel Name: </label>
                            <input type="text" class="form-control" id="hotelName" name="hotel">
                        </div>
                        <div class="mb-3">
                            <label for="hotelAddress" class="form-label">Hotel Address: </label>
                            <input type="text" class="form-control"  id="hotelAddress" name="address"></input>
                        </div>
                        <div class="mb-3">
                            <label for="hotelCity" class="form-label">City: </label>
                            <input type="text" class="form-control" id="hotelCity" name="city">
                        </div>
                        <div class="mb-3">
                            <label for="hotelState" class="form-label">State: </label>
                            <input type="text" class="form-control" id="hotelState" name="state">
                        </div>
                        <div class="mb-3">
                            <label for="checkIn" class="form-label">Check In Date: </label>
                            <input type="date" class="form-control" id="checkIn" name="checkIn">
                        </div>
                        <div class="mb-3">
                            <label for="checkOut" class="form-label">Check Out Date: </label>
                            <input type="date" class="form-control" id="checkOut" name="checkOut">
                        </div>
                        <button type="submit" class="btn btn-info btn-rounded" value="Upload">Submit</button>
                    </form> 
                </div> <!--end of card-->
            </div> <!--end of col2-->
            </div> <!--end of row-->
        </div>
    </div>
</section>
<%- include('partials/footer') -%>