<%- include('partials/header') -%>
<section id="hero">
  <div class="container flex flex-col  items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 ">

    <!-- user information section-->
    <div class="flex flex-col justify-center text-center text-2xl mx-auto">
      <p><strong class=" text-2xl">User Name</strong>: <%= user.userName %> </p>
      <p><strong class=" text-2xl">Email</strong>: <%= user.email %></p>
    </div>

    <!-- latestion information section -->
    <div class="flex flex-col justify-center pt-10 mx-auto">   
      <p class=" text-3xl p-6">Latest Information</p>

      <!-- hotel loop for most recent hotel -->
      <p class=" text-xl md:text-left">Most recent hotel stay: </p>
      <% if (hotels.length > 0) { %>
        <ul>
          <li class='latestHotel'>
            <p> Hotel details: <%= hotels[hotels.length-1].hotel %> - <%= hotels[hotels.length-1].address %> <%= hotels[hotels.length-1].city %>, <%= hotels[hotels.length-1].state %> </p>
            <p>Dates of stay:  Check in: <%= moment(hotels[hotels.length-1].checkIn).format("MMM Do YYYY")%> , check Out: <%= moment(hotels[hotels.length-1].checkOut).format("MMM Do YYYY") %></p>
          </li>
        </ul>
        <% } else { %>
          <!-- if no data then state no data -->
          <p><strong> No data found, please add data</strong> </p>
        <% } %>
    </div>
    <!-- receipt information section -->
    <div class="flex flex-col justify-center p-4">
      <p class=" text-xl">Most recent receipt sumbitted for approval:</p>
      <!-- loop for most recent receipt info -->
      <% if (receipts.length > 0) { %>
      <ul>
        <li class="latestReceipt" >
          <p> Receipt details: <%= receipts[0].receipt %>, <%= receipts[0].amount %>, <%= receipts[0].approved %> </p>
        </li>
      </ul>
      <% } else { %>
        <!-- if no data then state no data -->
        <p> <strong> No data found, please add data</strong> </p>
      <% } %>
    </div>
  </div>
</section>

<section id="commentSection">
  <!--adding comment section-->
  <div class="flex flex-col justify-center text-center m-3" >
    <h2 class=" text-3xl p-6">Add a Comment to your manager</h2>
    <form action="/comment/createComment" method="POST">
      <div class="flex justify-center text-center">
        <!-- <label for="comment" class="form-label">Comment</label> -->
        <!-- <input type="text" class="form-control" id="comment" name="comment"> -->
        <label class="input-group input-group-vertical w-1/2 ">
          <span class="mx-auto ">Comment: </span>
          <input type="text" name="comment" placeholder=" Enter comment here" class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
          focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
          disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
          invalid:border-pink-500 invalid:text-pink-600
          focus:invalid:border-pink-500 focus:invalid:ring-pink-500" />
        </label>
      </div>
      <div class="flex justify-center m-3 p-3">
        <button type="submit" class="btn px-4 py-2 text-white rounded-full bg-secondBlue hover:bg-white hover:text-secondBlue focus:outline-none" value="Upload">Submit</button>
      </div>
    </form>
  </div>

  <!-- comments loop that cycles through all the comments in the colleciton-->
  <div class="flex flex-col justify-center text-center p-3 ">
    <label class="text-3xl p-2">Comments</label>
    
    <!-- coment loop -->
    <div class="flex flex-col justify-center  text-center p-2 w-3/4 align-items">
      <ul class="flex flex-col p-6 md:pl-32  w-3/4">
        <% for(var i=0; i<comments.length; i++) {%>
        <li class=" flex flex-row  ">
          <p class="text-2xl"><i class="fa-solid fa-circle"></i>  <%= comments[i].comment%> </p>
          <%if(comments[i].createdById == user.id){ %>
          <form
            action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
            method="POST"
            class="p-2">
            <button type="submit" class="text-white hover::text-blue" ><i class="fa-solid fa-trash"></i></button>
          </form>
          <% } %> 
        </li>
        <% } %>
      </ul>
    </div>
  </div>  
</section>
<%- include('partials/footer') -%>