<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puedo Travel</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Receipts</h1>
    <ul>
    <% receipts.forEach( el => { %>
            <li class='receiptItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.receipt %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> receipts approved.</h2>

    <form action="/receipts/createReceipt" method='POST'>
        <label>Enter in your Item and the amount: </label>
        <input type="text" placeholder="Enter Receipt Item" name='receiptItem'>
        <input type="number" min="0.00" max="5000.00" name="amount" step="0.01" placeholder="Cost of item in $"/>
        <input type="submit">
    </form>

    <button type="button"><a href="/logout">Logout</a></button>

    <script src="js/main.js"></script>
</body>
</html>