<%- include('partials/header') -%>

  <section >
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-sm-6">
          <div class="container">
            <h2><%= user.userName %> has <%= left %> receipt(s) approved.</h2>          
            <ul>
              <% receipts.forEach( el => { %>
              <li class='receiptItems' data-id='<%=el._id%>'>
                <p><span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.receipt %></span>
                  Amount: $<%= el.amount %>
                Approved: <%= el.approved === true ? "Yes" : "No" %></p>

                  <!--TODO fix receipt image not showing up  -->
                <!-- <img class="img-fluid" src="<%= receipts.image %>" alt="receipt image"/> -->
                <a href="<%= el.image%>"><i class="bi bi-receipt"></i></a>
                <button type="button" class="btn btn-light btn-rounded"><span class='del'> Delete </span></button>
                <%if(receipts.user == user.id){ %>
                  <form
                    action="/receipts/deleteReceipt/<%= receipts[i]._id %>?_method=DELETE"
                    method="POST"
                    class="col-3"
                  >
                    <button class="btn btn-primary fa fa-trash" type="submit">Delete</button>
                  </form>
                <%}%>
              </li>
              <% }) %>    
            </ul>
          </div> <!--end of card-->
        </div><!--end of col-->
        <div class="col-sm-6" >
          <h2>Add a Reciept</h2>
          <!--the ENCTYPE is only for uploading immages using multer, tkae it out if normal form-->
          <form action="/receipts/createReceipt" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="Item" class="form-label">Item</label>
                <input type="text" class="form-control" id="reciept-input" name="itemName">
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount $</label>
              <input class="form-control" min="0.00" max="50000.00" step="0.01" id="reciept-amount" name="amount"></input>
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Receipt Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-info btn-rounded" value="Upload">Submit</button>
          </form>
        </div><!--end of card-->
      </div><!--end of col-->
    </div><!--end of row-->
  </section>    
    <script src="js/main.js"></script>
<%- include('partials/footer') -%>